<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorLogin</a>
    </div>
</div>

<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
            <span class="oi oi-person" aria-hidden="true"></span> Register
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="jokes">
            <span class="oi oi-smile" aria-hidden="true"></span> Jokes
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="errors" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Error
        </NavLink>
    </div>
</nav>